.custom-pagination-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 32px;
    background: white;
    border-top: solid 1px #0000000d;
}

.prev-btn,
.next-btn {
    display: inline-flex;
    align-items: center;
    color: #667085;
    font-weight: 500;
}

.pagination-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.antd-custom-pagination .ant-pagination-prev,
.antd-custom-pagination .ant-pagination-next {
    display: none !important;
}

.antd-custom-pagination .ant-pagination-item a {
    color: #2f3740;
    border-radius: 9999px !important;
    padding: 0 8px;
    height: 36px;
    min-width: 36px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.antd-custom-pagination .ant-pagination-item-active a {
    background: #00bfa6;
    color: white !important;
    border-radius: 9999px;
    width: 44px;
    height: 44px;
    min-width: 44px;
    box-shadow: 0 4px 10px rgba(2, 136, 123, 0.15);
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.ant-pagination-item-active {
    border: none !important;
}

.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active) {
    width: 44px;
    height: 44px;
}
.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
    background: rgba(0, 0, 0, 0.06);
    color: white !important;
    border-radius: 9999px;
    width: 44px;
    height: 44px;
    min-width: 44px;
    font-weight: 600;
}
