@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(201, 201, 201);
}
.border-gradient {
    border: 0.1rem solid transparent;
    border-radius: 8px;
    background: linear-gradient(#fff, #fff) padding-box, linear-gradient(to bottom, #00a8a2, #d98b2b) border-box;
}
