.buy-top-up-card-container {
    display: flex;
    flex-direction: column;
}
.card-value-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card-value {
    border: 0.1rem solid #edeeee;
    border-radius: 8px;
    text-align: center;
    color: #667085;
}

.price-details {
    border: solid 1px #667085;
    border-radius: 8px;
}
.price-details p {
    line-height: normal;
}
